@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Pixelify+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#div_start{
    background: hsl(340, 100%, 63%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 200px 70px 1fr;
    grid-template-areas: 
    "hea nav nav"
    "ar1 ar1 ar1"
    "spa spa spa"
    "ar2 ar2 ar2"
    ;
}

#div_flashcards{
    background: hsl(197, 86%, 41%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 100px 1fr;
    grid-template-areas: 
    "hea nav nav"
    "tex tit tes"
    "pi2 fla pi1"
    ;
}

@media screen and (min-width: 768px) {
    #div_flashcards{
        background: hsl(197, 86%, 41%);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px 50px 454px;
        grid-template-areas: 
        "hea nav nav"
        "tex tit tes"
        "pi2 fla pi1"
        ;
    }
}

#body_texter{
    background: hsl(197, 86%, 41%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: 
    "hea nav nav"
    "ta1 ta1 ta1"
    "ta2 ta2 ta2"
    ;
}

@media screen and (min-width: 768px) {
    #body_texter{
        background: hsl(197, 86%, 41%);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px 200px 80px 1fr;
        grid-template-areas: 
        "hea nav nav"
        "ta1 ta1 ta1"
        "nil nil nil"
        "ta2 ta2 ta2"
        ;
    }
}


header{
    background: rgb(0, 0, 0);
    grid-area: hea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nmr1{
    color: rgb(197, 23, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

}

nav{
    grid-area: nav;
    background: rgb(89, 16, 179);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#tex{
    background: navy;
    grid-area: tex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tit{
    background: lightgreen;
    grid-area: tit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tes{
    background: crimson;
    grid-area: tes;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pil1{
    grid-area: pi1;
}

#pil2{
    grid-area: pi2;
}

#flashcards_section{
    grid-area: fla;
    background: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

#flashcards_article{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#svar{

    position: relative;
    transition: all 0.5s;
}

.visa_svar {

    opacity: 0;
}


#link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}


img{
    height: 100%;
    width: 100%; 
    padding: 10px;
    border-radius: 10%;
}

#article_1{
    margin: 5px;
    grid-area: ar1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "ah1 ah1"
    "se1 se2"
    "se3 se3"
    ;
}

@media screen and (min-width:768px) {    
    #article_1{
        margin: 20px;
        grid-area: ar1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "ah1 ah1 ah1"
        "se1 se2 se3"
        ;
    }
}

#article_2{
    margin: 5px;
    grid-area: ar2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "ah2 ah2"
    "se4 se5"
    "se6 se6"
    ;
}

@media screen and (min-width:768px) {    
    #article_2{
        margin: 20px;
        grid-area: ar2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "ah2 ah2 ah2"
        "se4 se5 se6"
        ;
    }
}

#ah1{
    grid-area: ah1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:hover{
    transform: scale(105%);
}

#section_1{
    grid-area: se1;
    padding: 10px;
    background-color: chartreuse;
    border-radius: 20px;
    margin: 20px;
}


#section_2{
    grid-area: se2;
    padding: 10px;
    background: red;
    border-radius: 20px;
    margin: 20px;

}

#section_3{
    grid-area: se3;
    padding: 10px;
    background: blue;
    border-radius: 20px;
    margin: 20px;

}

@media screen and (min-width: 768px) {
    #section_3{
        grid-area: se3;
        padding: 10px;
        background: blue;
        border-radius: 20px;
        margin: 20px;
    }
}

#ah2{
    grid-area: ah2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_4{
    grid-area: se4;
    padding: 10px;
    background-color: chartreuse;
    border-radius: 20px;
    margin: 20px;

}

#section_5{
    grid-area: se5;
    padding: 10px;
    background: red;
    border-radius: 20px;
    margin: 20px;

}

#section_6{
    grid-area: se6;
    padding: 10px;
    background: blue;
    border-radius: 20px;
    margin: 20px;

}

#text_article_1{
    grid-area: ta1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: 
    "tah1 tah1"
    "ta1s1 ta1s2"
    "ta1s3 ta1s3"
    ;
}

@media screen and (min-width: 768px) {
    #text_article_1{
        grid-area: ta1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "tah1 tah1 tah1"
        "ta1s1 ta1s2 ta1s3"
        ;
    }
}

#text_article_2{
    grid-area: ta2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 2fr 1fr;
    grid-template-areas: 
    "tah2 tah2"
    "ta2s1 ta2s2"
    "ta2s3 ta2s3"
    ;
}

@media screen and (min-width: 768px) {
    #text_article_2{
        grid-area: ta2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "tah2 tah2 tah2"
        "ta2s1 ta2s2 ta2s3"
        ;
    }
}

#tah1{
    grid-area: tah1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tah2{
    grid-area: tah2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_1{

    grid-area: ta1s1;
    margin: 20px;
    padding: 10px;
    background: orange;
}

#text_2{

    grid-area: ta1s2;
    margin: 20px;
    padding: 10px;
    background: chartreuse;
}

#text_3{

    grid-area: ta1s3;
    margin: 20px;
    padding: 10px;
    background: fuchsia;
}

#text_4{

    grid-area: ta2s1;
    margin: 20px;
    padding: 10px;
    background: orange;

}

#text_5{

    grid-area: ta2s2;
    margin: 20px;
    padding: 10px;
    background: chartreuse;
}

#text_6{

    grid-area: ta2s3;
    margin: 20px;
    padding: 10px;
    background: fuchsia;
}


h1 {
    color: rgb(6, 6, 6);

    font-size: 2.56rem;
}

h4 {
    color: rgb(6, 6, 6);

    font-size: 2rem;
}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}


a {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}