@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Pixelify+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#div_start{
    background: hsl(340, 100%, 63%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 200px 80px 200px 25px;
    grid-template-areas: 
    "hea nav nav"
    "ar1 ar1 ar1"
    "spa spa spa"
    "ar2 ar2 ar2"
    "end end end"
    ;
}

#div_flashcards{
    background: hsl(197, 86%, 41%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px 400px 25px;
    grid-template-areas: 
    "hea nav nav"
    "tex tit tes"
    "pi2 fla pi1"
    "end end end"
    ;
}

header{
    background: rgb(0, 0, 0);
    grid-area: hea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#nmr1{
    color: rgb(197, 23, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

}

nav{
    grid-area: nav;
    background: rgb(89, 16, 179);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#tex{
    background: navy;
    grid-area: tex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tit{
    background: lightgreen;
    grid-area: tit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tes{
    background: crimson;
    grid-area: tes;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pil1{
    grid-area: pi1;
}

#pil2{
    grid-area: pi2;
}

#flashcards_section{
    grid-area: fla;
    background: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

#flashcards_article{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#svar{

    position: relative;
    transition: all 0.5s;
}

.visa_svar {

    transform: translateY(400px);
}




#link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}


img{
    height: 100%;
    width: 100%; 
    padding: 10px;
    border-radius: 10%;
}

#article_1{
    margin: 20px;
    grid-area: ar1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ah1 ah1 ah1"
    "se1 se2 se3"
    ;
}

#article_2{
    margin: 20px;
    grid-area: ar2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ah2 ah2 ah2"
    "se4 se5 se6"
    ;
}

#ah1{
    grid-area: ah1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_1{
    grid-area: se1;
    padding: 10px;
    background-color: chartreuse;
    border-radius: 20px;
    margin: 20px;

}

#section_2{
    grid-area: se2;
    padding: 10px;
    background: red;
    border-radius: 20px;
    margin: 20px;

}
section:hover{
    transform: scale(105%);
}

#section_3{
    grid-area: se3;
    padding: 10px;
    background: blue;
    border-radius: 20px;
    margin: 20px;

}

#ah2{
    grid-area: ah2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_4{
    grid-area: se4;
    padding: 10px;
    background-color: chartreuse;
    border-radius: 20px;
    margin: 20px;

}

#section_5{
    grid-area: se5;
    padding: 10px;
    background: red;
    border-radius: 20px;
    margin: 20px;

}

#section_6{
    grid-area: se6;
    padding: 10px;
    background: blue;
    border-radius: 20px;
    margin: 20px;

}


h1 {
    color: rgb(6, 6, 6);

    font-size: 2.56rem;
}

h4 {
    color: rgb(6, 6, 6);

    font-size: 2rem;
}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

footer{
    grid-area: end;
    background: rgb(255, 255, 255);
}


a {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}