@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Pixelify+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#body_start{
    background: hsl(340, 5%, 11%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto auto auto auto;
    grid-template-areas: 
    "hea nav nav"
    "sta sta sta"
    "ar1 ar1 ar1"
    "ar2 ar2 ar2"
    "foo foo foo"
    ;
}

#body_flashcards{
    background: hsl(340, 5%, 11%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto 20px auto auto auto;
    grid-template-areas: 
    "hea nav nav"
    "tex tit tes"
    "bla bla bla"
    "fla fla fla"
    "pi1 nil pi2"
    "foo foo foo"
    ;
}

#bla {
    grid-area: bla;
    background: black;
}


#body_texter{
    background: hsl(340, 5%, 11%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "hea nav nav"
    "ta1 ta1 ta1"
    "ta2 ta2 ta2"
    "foo foo foo"
    ;
}


#body_test{
    background: hsl(340, 5%, 11%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 100px auto auto auto;
    grid-template-areas: 
    "hea nav nav"
    "tef tef tef"
    "tim tim tim"
    "pi1 tnf pi2"
    "foo foo foo"
    ;
}

footer{
    background: rgb(8, 35, 36);
    grid-area: foo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "ffo ffe"
    "ffr ffr"
    "fcr fcr"
    ;
}


#footer_om_oss{
    grid-area: ffo;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    row-gap: 20px;
}

#footer_elever{
    grid-area: ffe;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
}

#footer_resurser{
    margin-top: 20px;
    grid-area: ffr;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


#footer_copyright{
    grid-area: fcr;
    margin-top: 50px;
    margin-left: 50px;
}


#tim{
    grid-area: tim;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "im1"
    "im2"
    "im3"
    "im4"
    ;
}


#tef{
    background-color: rgb(11, 165, 212);
    grid-area: tef;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1{
    grid-area: im1;
}

#img2{
    grid-area: im2;
}

#img3{
    grid-area: im3;
}

#img4{
    grid-area: im4;
}


header{
    background: rgb(0, 0, 0);
    grid-area: hea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nmr1{
    color: rgb(23, 154, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}


nav{
    grid-area: nav;
    background: #45A29E;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#tex{
    background-color: rgb(11, 165, 212);
    grid-area: tex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tit{
    background-color: black;
    grid-area: tit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tes{
    background-color: rgb(11, 165, 212);
    grid-area: tes;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pil1{
    grid-area: pi1;
    background: black;
}

#pil2{
    grid-area: pi2;
    background: black;
}

#flashcards_link{
    grid-area: fla;
    background-color: rgb(11, 165, 212);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "fca"
    "fcc"
    ;
}

#flashcards_article{
    flex-direction: column;
    grid-area: fca;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#svar{
    position: relative;
    transition: all 0.5s;
}

.visa_svar {
    opacity: 0;
}


#link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}


img{
    height: 100%;
    width: 100%; 
    padding: 10px;
    border-radius: 10%;
}


#flashcards_img{
    height: 200px;
    width: auto;
}

#flashcards_clue{
    grid-area: fcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#start_section_indelning_1{
    margin: 5px;
    grid-area: ar1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "ah1 ah1"
    "se1 se2"
    "se3 se3"
    ;
}

#start_section_indelning_2{
    margin: 5px;
    grid-area: ar2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "ah2 ah2"
    "se4 se5"
    "se6 se6"
    ;
}


#ah1{
    grid-area: ah1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_section:hover{
    transform: scale(1.05);
}

#section_1{
    grid-area: se1;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;
}


#section_2{
    grid-area: se2;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;

}

#section_3{
    grid-area: se3;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;

}


#ah2{
    grid-area: ah2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_4{
    grid-area: se4;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;

}

#section_5{
    grid-area: se5;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;

}

#section_6{
    grid-area: se6;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
    margin: 20px;

}

#text_section_indelning_1{
    grid-area: ta1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "tah1 tah1"
    "ta1s1 ta1s2"
    "ta1s3 ta1s3"
    ;
}


#text_section_indelning_2{
    grid-area: ta2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "tah2 tah2"
    "ta2s1 ta2s2"
    "ta2s3 ta2s3"
    ;
}


#tah1{
    grid-area: tah1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tah2{
    grid-area: tah2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta1s1;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}

#text_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta1s2;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}

#text_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta1s3;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}

#text_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta2s1;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}

#text_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta2s2;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}

#text_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ta2s3;
    margin: 20px;
    padding: 10px;
    background-color: rgb(11, 165, 212);
    border-radius: 20px;
}


h1 {
    color: rgb(11, 165, 212);
}

h2 {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
    text-align: center;

}

h3{
    font-weight: 450;
    font-family: sans-serif;
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);

}


p {
    color: white;
    text-align: start;
    font-size: 1rem;
    font-weight: 300;
    font-family: sans-serif;
    display: flex;
}


a {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: wavy;
}

#start_inledning_h3{
    color: white;
    margin-top: 10px;
}


.start_link_lists:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.start_link_text{
    font-size: 1.32rem;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.start_link_lists{
    text-decoration: double;
    color: rgb(16, 43, 74);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 15px;
    background: rgb(8, 35, 36);
    padding-left: 10px;
    padding-right: 10px;
}

#start_link_items{
    margin-top: 20px;
}

.footer_text{
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}

.footer_titel{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.64rem;
}

#tnf{
    grid-area: tnf;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}


#start{
    background: rgb(23, 154, 197);
    grid-area: sta;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "sit sit"
    "sii sii"
    ;
}

#start_inledning_text{
    grid-area: sit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


#start_inledning_img{
    grid-area: sii;
}



@media screen and (min-width: 768px) {
    #body_flashcards{
        background: hsl(197, 86%, 41%);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px 50px 454px;
        grid-template-areas: 
        "hea nav nav"
        "tex tit tes"
        "pi1 fla pi2"
        "foo foo foo"
        ;
    }



    #body_texter{
        background: hsl(340, 5%, 11%);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 50px auto auto auto;
        grid-template-areas: 
        "hea nav nav"
        "ta1 ta1 ta1"
        "ta2 ta2 ta2"
        "foo foo foo"
        ;
    }



    #body_test{
        background: hsl(340, 5%, 11%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 100px auto auto;
        grid-template-areas: 
        "hea nav nav"
        "tef tef tef"
        "tim tim tim"
        "pi1 tnf pi2"
        "foo foo foo"
        ;
    }



    #tim{
        grid-area: tim;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "im1 im2"
        "im3 im4"
        ;
    } 



    #nmr1{
        font-size: 2rem;
        color: rgb(23, 154, 197);
    }

    #start{
        background: rgb(23, 154, 197);
        grid-area: sta;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "sit sii"
        ;
    }

    #start_inledning_text{
        grid-area: sit;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 40px;
    }

    #start_inledning_img{
        grid-area: sii;
    }


    #start_section_indelning_1{
        margin: 20px;
        grid-area: ar1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "ah1 ah1 ah1"
        "se1 se2 se3"
        ;
    }



    #start_section_indelning_2{
        margin: 20px;
        grid-area: ar2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "ah2 ah2 ah2"
        "se4 se5 se6"
        ;
    }




    #text_section_indelning_1{
        grid-area: ta1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-template-areas: 
        "tah1 tah1 tah1"
        "ta1s1 ta1s2 ta1s3"
        ;
    }


    #text_section_indelning_2{
        grid-area: ta2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-template-areas: 
        "tah2 tah2 tah2"
        "ta2s1 ta2s2 ta2s3"
        ;
    }


    footer{
        background: rgb(8, 35, 36);
        grid-area: foo;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "ffo ffe ffr"
        "fcr fcr fcr"
        ;
    }


    #footer_resurser{
        margin-top: 0px;
        grid-area: ffr;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
    }
}